@model SistemaReparaciones.Models.Usuario

<h2>Eliminar Usuario</h2>

<p>¿Está seguro que desea eliminar este usuario?</p>

<div>
    <h4>Usuario</h4>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Nombre)</dt>
        <dd>@Html.DisplayFor(model => model.Nombre)</dd>
        <dt>@Html.DisplayNameFor(model => model.CorreoElectronico)</dt>
        <dd>@Html.DisplayFor(model => model.CorreoElectronico)</dd>
        <dt>@Html.DisplayNameFor(model => model.Telefono)</dt>
        <dd>@Html.DisplayFor(model => model.Telefono)</dd>
    </dl>
</div>

@using (Html.BeginForm("Delete", "Usuarios", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.UsuarioID" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
}
